
<div th:fragment="mathematic-performance-reader" class="container py-5">
    <link rel="stylesheet" type="text/css" th:href="@{/css/math-performance.css}">
	<script type="text/javascript" src="@{/js/math-performance.js}"></script>    <div class="math-performance-container">
        <div class="math-performance-round">
            <h4>Mathematics Performance</h4>
            <div class="circular-progress-bar">
                <svg>
                    <circle cx="50%" cy="50%" r="40" stroke-width="10" stroke-dasharray="251.327" stroke-dashoffset="0" stroke-linecap="round" fill="none" stroke="#f0f0f0"></circle>
                    <circle cx="50%" cy="50%" r="40" stroke-width="10" stroke-dasharray="251.327" stroke-dashoffset="0" stroke-linecap="round" fill="none" stroke="#007bff"></circle>
                </svg>
                <span class="progress-text">86%</span>
            </div>
        </div>
    </div>
</div>